body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #f5f5dc;
    overflow: hidden;
}
.Win {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;
    background-color: rgb(128, 128, 128, 0.2);
}

.Win-message {
    padding: 20px 50px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: beige;
}

.Result {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.Result > div {
    flex: 1 1 25%;
}

.Result-icon {
    font-size: 4rem;
}

.Result-value {
    font-size: 2rem;
    font-weight: bold;
}

.TargetNumber {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
}

.Button {
    height: 70px;
    flex: 0 1 25%;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.Description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    height: 80vh;
    color: green;
}

.Description-main {
    padding: 20px;
    flex: 1 0 auto;
    font-family: 'Arial';
}

.Description-main p {
    padding: 0 50px;
    text-align: justify;
}

.Description-main-btn {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.Description-main-btn:hover {
    color: brown;
}

.description-title {
    display: block;
    align-items: center;
}

.game-btn {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    background-color: #f3f3bf;
}

.game-btn:hover {
    color: brown;
    border-color: brown;
    box-shadow: 3px 3px 7px gray;
}

.Apply-btn {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    /* background-color: #f3f3bf; */
    transition: .5s;
}

.Apply-btn:hover {
    color: brown;
    border-color: brown;
}